.text-primary {
 color: $display_colours_primary; 
}

.text-secondary {
  color: $display_colours_secondary;
}

.text-tertiary {
  color: $display_colours_tertiary;
}

.text-white {
  color: $display_colours_white;
}