$display_borders_radius: 30px;
$display_borders_thickness: 1px;
$display_colours_primary: #3A3B7B;
$display_colours_secondary: #64C2DB;
$display_colours_tertiary: #E56F8C;
$display_colours_black: #0000000;
$display_colours_white: #FFFFFF;
$display_colours_light_grey: #F1F1F1;
$display_fonts_super_site_fonts_heading_font_family: 'Saira', sans-serif;
$display_fonts_super_site_fonts_body_font_family: 'Poppins', sans-serif;
$display_fonts_headings_h1: 4rem;
$display_fonts_headings_h2: 3rem;
$display_fonts_headings_h3: 2.5rem;
$display_fonts_headings_h4: 2rem;
$display_fonts_headings_h5: 1.6rem;
$display_fonts_headings_h6: 1.2rem;
$display_fonts_headings_font_weight: 400;
$display_fonts_body_base_font_size: 1rem;
$display_fonts_body_font_weight: 400;
